In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

### Chesapeake Bay

In [7]:
chrones = gpd.read_file("data/clean/isochrones_with_parent_corp.geojson")

In [8]:
chrones

,Plant Access,Parent Corporation,geometry
0,1,Cargill,"MULTIPOLYGON (((-89.89067 30.85605, -89.89633 ..."
1,1,JBS,"MULTIPOLYGON (((-85.71631 30.62877, -85.71584 ..."
2,1,Koch Foods,"MULTIPOLYGON (((-86.56262 33.01543, -86.60078 ..."
3,1,Mar-Jac,"MULTIPOLYGON (((-88.48329 31.36880, -88.48255 ..."
4,1,Peco Foods,"MULTIPOLYGON (((-88.61596 32.31675, -88.61596 ..."
...,...,...,...
92,2,NaN,"MULTIPOLYGON (((-81.07117 34.42852, -81.04862 ..."
93,2,NaN,"MULTIPOLYGON (((-81.64968 34.52532, -81.64367 ..."
94,2,NaN,"MULTIPOLYGON (((-78.23688 34.64255, -78.23540 ..."
95,2,NaN,"MULTIPOLYGON (((-76.60785 40.58336, -76.55357 ..."
96,3,NaN,"MULTIPOLYGON (((-75.34796 38.09978, -75.35308 ..."

In [9]:
chesapeake_gdf = gpd.read_file("data/msft/chesapeake-bay-3-18-2021_filtered.gpkg")

In [16]:
list(chesapeake_gdf.loc[0,:]['geometry'].exterior.coords)

[(-75.63959236967662, 39.00133623079139),
 (-75.63779978796374, 39.001441976264715),
 (-75.63781578719691, 39.00160712986904),
 (-75.639608373047, 39.0015013841181),
 (-75.63959236967662, 39.00133623079139)]

In [17]:
chesapeake_gdf.loc[0,:]['geometry'].centroid

In [19]:
cg = gpd.read_file("data/msft/counterglow_geojson.geojson")

In [20]:
cg

,state,address,company,plant_access,geometry
0,Iowa,"3306 Oak Avenue Lime Springs 52155, United States",NaN,1,POINT (-92.27755 43.46849)
1,Iowa,"13242 Aspen Avenue Postville 52162, United States",NaN,1,POINT (-91.57521 43.03394)
2,Iowa,"12673 160th Street Postville 52162, United States",NaN,1,POINT (-91.55061 42.98755)
3,Iowa,"1286 210th Avenue Ossian 52161, United States",NaN,1,POINT (-91.81220 43.12277)
4,Iowa,"10130 U.S. 18 Postville 52162, United States",NaN,1,POINT (-91.59761 43.07805)
...,...,...,...,...,...
2259,Minnesota,"28661 306th Avenue Freeport 56331, United States",NaN,1,POINT (-94.75147 45.53737)
2260,Minnesota,"27080 405th Street Freeport 56331, United States",NaN,1,POINT (-94.67673 45.70841)
2261,Minnesota,"6470 75th Street Northwest Pennock 56279, Unit...",NaN,1,POINT (-95.14732 45.18672)
2262,West Virginia,"174 Frosty Hollow Road Fisher 26818, United St...",NaN,2,POINT (-79.02200 39.05239)
2263,West Virginia,"12850 South Mill Creek Road Petersburg 26847, ...",NaN,2,POINT (-79.17765 38.84163)

In [23]:
chesapeake_gdf['state'] = np.nan

chesapeake_gdf

,p,rectangle_area,area,rectangle_aspect_ratio,distance_to_nearest_road,year,date,image_url,geometry,state
0,0.496129,2861.227835,2371.68,8.469337,42.502289,2018,2018-8-10,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.63959 39.00134, -75.63780 39.001...",NaN
1,0.494407,3741.065270,3241.80,5.448252,38.309884,2018,2018-8-10,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.63911 38.99996, -75.63932 39.001...",NaN
2,0.523742,3563.985256,3319.56,5.721910,75.003998,2018,2018-8-10,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.63870 38.99993, -75.63891 39.001...",NaN
3,0.214663,1787.604805,1354.68,6.022303,62.675908,2018,2018-8-10,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.63662 38.99966, -75.63711 39.000...",NaN
4,0.214447,1899.415954,1377.36,5.893088,63.760575,2018,2018-8-10,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.63758 39.00036, -75.63709 38.999...",NaN
...,...,...,...,...,...,...,...,...,...,...
26279,0.106385,820.080000,453.00,7.882353,131.635575,2017,2017-7-30,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.22870 41.85880, -75.22812 41.858...",NaN
26280,0.687951,992.000000,855.00,3.875000,24.145576,2017,2017-5-17,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.92022 41.69156, -75.92023 41.692...",NaN
26281,0.507992,700.271169,536.00,9.611714,233.002087,2017,2017-5-17,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.87378 41.68207, -75.87477 41.682...",NaN
26282,0.517438,3738.000000,2086.00,8.476190,65.248454,2017,2017-5-17,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.93311 41.65016, -75.93313 41.651...",NaN
26283,0.221098,841.758621,570.00,3.911392,49.645942,2017,2017-6-8,https://naipblobs.blob.core.windows.net/naip/v...,"POLYGON ((-75.78710 41.70123, -75.78775 41.701...",NaN

### actual important stuff

In [43]:
df = pd.DataFrame(np.nan, index=list(range(len(chesapeake_gdf))), columns=['state', 'address', 'company', 'plant_access'])

In [44]:
df['geometry'] = chesapeake_gdf['geometry']

In [45]:
df['geometry'] = df['geometry'].apply(lambda x: x.centroid)

In [46]:
df

,state,address,company,plant_access,geometry
0,NaN,NaN,NaN,NaN,POINT (-75.63870407944398 39.00147168029439)
1,NaN,NaN,NaN,NaN,POINT (-75.63936842143492 39.00058700635971)
2,NaN,NaN,NaN,NaN,POINT (-75.63894708298037 39.00055510638166)
3,NaN,NaN,NaN,NaN,POINT (-75.63695402949196 39.00005672681793)
4,NaN,NaN,NaN,NaN,POINT (-75.63724380945466 38.99995930301574)
...,...,...,...,...,...
26279,NaN,NaN,NaN,NaN,POINT (-75.22835822343218 41.858536200432475)
26280,NaN,NaN,NaN,NaN,POINT (-75.92032331542237 41.69184339867735)
26281,NaN,NaN,NaN,NaN,POINT (-75.87427433303891 41.68203875988392)
26282,NaN,NaN,NaN,NaN,POINT (-75.933245464978 41.65096429960544)
26283,NaN,NaN,NaN,NaN,POINT (-75.78745668923366 41.70125735594268)

In [48]:
formatted_gdf = gpd.GeoDataFrame(
        {
            "state": df['state'],
            "address": df['address'],
            "company": df['company'],
            "plant_access": df['plant_access'],
            "geometry": df['geometry']
        }
    )

In [51]:
formatted_gdf.to_file("data/msft/chesapeake_bay.geojson", driver="GeoJSON")

### full USA

In [52]:
full_usa = gpd.read_file("data/msft/full-usa-3-13-2021_filtered_deduplicated.gpkg")

In [54]:
full_usa_df = pd.DataFrame(np.nan, index=list(range(len(full_usa))), columns=['state', 'address', 'company', 'plant_access'])

In [57]:
full_usa_df['geometry'] = full_usa['geometry']

In [58]:
full_usa_df

,state,address,company,plant_access,geometry
0,NaN,NaN,NaN,NaN,"POLYGON ((-85.87412 31.00017, -85.87455 30.999..."
1,NaN,NaN,NaN,NaN,"POLYGON ((-85.87987 30.99610, -85.87987 30.996..."
2,NaN,NaN,NaN,NaN,"POLYGON ((-85.87919 30.99088, -85.87973 30.990..."
3,NaN,NaN,NaN,NaN,"POLYGON ((-85.77532 30.98775, -85.77499 30.988..."
4,NaN,NaN,NaN,NaN,"POLYGON ((-85.75869 30.96566, -85.75877 30.966..."
...,...,...,...,...,...
360852,NaN,NaN,NaN,NaN,"POLYGON ((-109.44313 44.99764, -109.44311 44.9..."
360853,NaN,NaN,NaN,NaN,"POLYGON ((-109.33418 45.02513, -109.33526 45.0..."
360854,NaN,NaN,NaN,NaN,"POLYGON ((-110.78602 45.05773, -110.78689 45.0..."
360855,NaN,NaN,NaN,NaN,"POLYGON ((-110.82759 45.00438, -110.82605 45.0..."
360856,NaN,NaN,NaN,NaN,"POLYGON ((-111.04293 45.01159, -111.04180 45.0..."

In [59]:
full_usa_df['geometry'] = full_usa_df['geometry'].apply(lambda x: x.centroid)

In [62]:
formatted_full_usa_gdf = gpd.GeoDataFrame(
        {
            "state": full_usa_df['state'],
            "address": full_usa_df['address'],
            "company": full_usa_df['company'],
            "plant_access": full_usa_df['plant_access'],
            "geometry": full_usa_df['geometry']
        }
    )

In [64]:
formatted_full_usa_gdf.to_file("data/msft/full_usa.geojson", driver="GeoJSON")

### bounding box

In [66]:
full = gpd.read_file("data/msft/full_usa.geojson")

In [65]:
nc_bounds = [-84.321782, 33.851169, -75.459815, 36.588133]

In [68]:
nc_only = full.cx[-84.321782:-75.459815, 33.851169:36.588133]
nc_only

        state  address  company  plant_access                    geometry
88346     NaN      NaN      NaN           NaN  POINT (-82.91303 33.98402)
88347     NaN      NaN      NaN           NaN  POINT (-82.91316 33.98377)
88348     NaN      NaN      NaN           NaN  POINT (-82.91327 33.98348)
88349     NaN      NaN      NaN           NaN  POINT (-82.91340 33.98323)
88350     NaN      NaN      NaN           NaN  POINT (-82.91352 33.98291)
...       ...      ...      ...           ...                         ...
343215    NaN      NaN      NaN           NaN  POINT (-82.17468 36.56192)
343216    NaN      NaN      NaN           NaN  POINT (-82.16710 36.55958)
343217    NaN      NaN      NaN           NaN  POINT (-82.04141 36.58402)
343218    NaN      NaN      NaN           NaN  POINT (-82.04645 36.56428)
343219    NaN      NaN      NaN           NaN  POINT (-82.04080 36.56001)

[37620 rows x 5 columns]

In [71]:
nc_only.to_file("data/msft/nc_only.geojson", driver="GeoJSON")