In [1]:
import pandas as pd
import os

In [2]:
path = '/Users/kay/Desktop/DSC'
os.chdir(path)

In [10]:
# Stella loaded and merged data
companies = pd.read_csv('NETSData2022_RAFI(WithAddresses).txt', delimiter = '\t', encoding = 'ISO-8859-1')
naics = pd.read_csv('NAICS2022_RAFI.csv')
industry = pd.read_csv('2022-NAICS-Codes-6-digit.csv')
sic = pd.read_excel('RAFIUSA_Target_4NAICS_Search2022.xlsx', sheet_name=0)

/var/folders/x7/k10zkcs917x1mtwm_l5s0z5c0000gn/T/ipykernel_35334/455340507.py:2: DtypeWarning: Columns (286,287,288,289,290,291,292) have mixed types. Specify dtype option on import or set low_memory=False.
  companies = pd.read_csv('NETSData2022_RAFI(WithAddresses).txt', delimiter = '\t', encoding = 'ISO-8859-1')

In [4]:
print(naics.shape)
print(companies.shape)
print(industry.shape )

(71032, 34)
(71032, 422)
(1012, 2)

In [5]:
display(companies.head())
display(naics.head())
display(industry.head())

,DunsNumber,Company,TradeName,Address,City,State,ZipCode,ZIP4,Officer,Title,...,Cottage,FirstYear,LastYear,Address_First,City_First,State_First,ZipCode_First,CBSA_First,FipsCounty_First,CityCode_First
0,1663876,BROCKS BRONCO BALLS ...,...,5772 E IRONWOOD BLF ...,CAVE CREEK,AZ,85331,7708,LEE PALLO,OWNER,...,C,2000,2004,5772 E IRONWOOD BLF ...,CAVE CREEK,AZ,85331,38060,4013,41264
1,2344232,WATSONS QULTY TURKEY PDTS INC ...,...,641 STATE RTE 168 ...,BLACKWOOD,NJ,8012,0,ALBERT O WATSON,PRESIDENT,...,,1989,2010,BLACK HORSE PIKE ...,BLACKWOOD,NJ,8012,37980,34007,340959
2,2842160,GETZ LAND AND CATTLE ...,...,5673 COUNTY ROAD H ...,GOVE,KS,67736,6024,,,...,,2017,2020,5673 COUNTY ROAD H ...,GOVE,KS,67736,20999,20063,203548
3,2841830,T F LIVESTOCK ...,...,10023 STONY POINT DR ...,WACO,TX,76712,3173,CINDY POTTS,PRINCIPAL,...,,2010,2016,10023 STONY POINT DR ...,WACO,TX,76712,47380,48309,488805
4,2841589,C & B LIVESTOCK ...,...,24502 S SPRINGWATER RD ...,ESTACADA,OR,97023,9631,,,...,,2014,2022,24502 S SPRINGWATER RD ...,ESTACADA,OR,97023,38900,41005,412801

,DunsNumber,NAICS90,NAICS91,NAICS92,NAICS93,NAICS94,NAICS95,NAICS96,NAICS97,NAICS98,...,NAICS13,NAICS14,NAICS15,NAICS16,NAICS17,NAICS18,NAICS19,NAICS20,NAICS21,NAICS22
0,18641655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,424520.0,424520.0,424520.0
1,18642408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,424520.0,424520.0,424520.0,424520.0,NaN,NaN,NaN,NaN,NaN,NaN
2,18732711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,424520.0,424520.0,424520.0,424520.0,424520.0,424520.0
3,18736558,424520.0,424520.0,424520.0,424520.0,424520.0,424520.0,424520.0,424520.0,424520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18748044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,424520.0,424520.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   NAICS22 Code                      NAICS22 Text
0        111110                   Soybean Farming
1        111120  Oilseed (except Soybean) Farming
2        111130          Dry Pea and Bean Farming
3        111140                     Wheat Farming
4        111150                      Corn Farming

In [8]:
# Find the latest naics as the only naics for the company
def get_naics(df): 
    NAICS = []
    for i in range(len(df)):
        row = df.iloc[i,1:].to_list()
        l = 0
        while l in range(len(row)):
            if pd.isna(row[l]) == False:
                NAICS.append(row[l])
                break
            else:
                l += 1
        continue
    return NAICS           
naics['NAICS'] = get_naics(naics) # The number of NAICS shows that each company has a NAICS now
# Merge companies and naics and filter to left only auction house
companies_naics = companies.merge(naics[['DunsNumber','NAICS']], how='inner', on='DunsNumber')
companies_naics = companies_naics[companies_naics['NAICS'] == 424520.0]
companies_naics

,DunsNumber,Company,TradeName,Address,City,State,ZipCode,ZIP4,Officer,Title,...,FirstYear,LastYear,Address_First,City_First,State_First,ZipCode_First,CBSA_First,FipsCounty_First,CityCode_First,NAICS
2,2842160,GETZ LAND AND CATTLE ...,...,5673 COUNTY ROAD H ...,GOVE,KS,67736,6024,,,...,2017,2020,5673 COUNTY ROAD H ...,GOVE,KS,67736,20999,20063,203548,424520.0
3,2841830,T F LIVESTOCK ...,...,10023 STONY POINT DR ...,WACO,TX,76712,3173,CINDY POTTS,PRINCIPAL,...,2010,2016,10023 STONY POINT DR ...,WACO,TX,76712,47380,48309,488805,424520.0
4,2841589,C & B LIVESTOCK ...,...,24502 S SPRINGWATER RD ...,ESTACADA,OR,97023,9631,,,...,2014,2022,24502 S SPRINGWATER RD ...,ESTACADA,OR,97023,38900,41005,412801,424520.0
5,2148949,IOWA LAMB CORP ...,...,1635 RIVERVIEW DR ...,HURON,SD,57350,4207,JOE BUTTERFIELD,PRINCIPAL,...,2010,2018,1635 RIVERVIEW DR ...,HURON,SD,57350,26700,46005,464475,424520.0
6,2148889,COYOTE LAND & CATTLE COMPANY ...,...,8184 MT AUKUM RD ...,MOUNT AUKUM,CA,95656,0,,,...,2010,2013,8184 MT AUKUM RD ...,MOUNT AUKUM,CA,95656,40900,6017,65354,424520.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71022,967806022,CARROLL CNTY FAIR & LVSTK SHOW ...,...,...,BERRYVILLE,AR,72616,0,,,...,2011,2014,...,BERRYVILLE,AR,72616,5999,5015,50827,424520.0
71023,967808648,SCURRY CNTY JUNIOR LVSTK ASSN ...,...,2605 AVENUE M ...,SNYDER,TX,79549,2826,SHAWN MORELAND,EXECUTIVE DIRECTOR,...,2011,2020,2605 AVENUE M ...,SNYDER,TX,79549,43660,48415,487885,424520.0
71024,968868609,B2K GREEN INC ...,OKMULGEE LIVESTOCK AU ...,26605 BARTLETT RD ...,HENRYETTA,OK,74437,7903,KENT GREEN,ADMINISTRATOR,...,2011,2022,26605 BARTLETT RD ...,HENRYETTA,OK,74437,46140,40111,404231,424520.0
71030,969885888,BERGHOLZ RODNEY M ...,...,N7319 COUNTY ROAD A ...,JOHNSON CREEK,WI,53038,9737,RODNEY BERGHOLZ,PRINCIPAL,...,1997,2015,W6041 HWY B ...,JEFFERSON,WI,53549,48020,55055,554029,424520.0
71031,969890722,CENTERTON LIVESTOCK AUCTION ...,...,2210 KINYON RD ...,CENTERTON,AR,72719,8936,TIMOTHY SCHLEGEL,OWNER,...,1997,2022,2210 KINYON RD ...,CENTERTON,AR,72719,22220,5007,51746,424520.0

In [18]:
# display(sic.head())
a = list(companies.columns)
for i in a

'DunsNumber'