# My Exploration of the FSIS Data

## Load-In Data

In [1]:
import pandas as pd

In [2]:
FSIS_DATA = "/Users/abby/Desktop/RAFI/fsis-processors-with-location.csv"

In [5]:
df = pd.read_csv(FSIS_DATA)
df.head()

,Unnamed: 0,EstNumber,EstID,Parent Corporation,Establishment Name,State,Size,Animals Processed,Processed\nVolume\nCategory,Slaughter\nVolume\nCategory,Full Address,latitude,longitude
0,0,M267,4802,JBS,JBS Tolleson Inc.,AZ,Large,Beef,5.0,4.0,"651 S. 91st Ave, Tolleson, AZ 85353",33.441660,-112.252559
1,1,M354,5117,Cargill,Cargill Meat Solutions,CA,Large,Beef,5.0,4.0,"3115 S. Fig Ave., Fresno, CA 93706",36.689651,-119.801950
2,2,M6063A,5289,Central Valley Meat Company,"Central Valley Meat Co., Inc.",CA,Large,Beef,5.0,4.0,"10431 8 3/4 Ave., Hanford, CA 93230",36.321273,-119.612222
3,3,M783 + P783 + V783,5144,Central Valley Meat Company,Harris Ranch Beef Company,CA,Large,Beef,5.0,4.0,"16277 S McCall Ave., Selma, CA 93662",36.499212,-119.614553
4,4,M21488 + V21488,8349,Independent,OWB Packers LLC,CA,Large,Beef,4.0,4.0,"57 East Shank Road, Brawley, CA 92227",33.000969,-115.521786

## Distribution of Plant Types

In [10]:
print(df['Animals Processed'].unique())

['Beef' 'Pork' 'Chicken' 'Turkey' 'Beef,Chicken,Turkey' 'Turkey,Chicken'
 'Beef,Pork,Chicken,Turkey,Sheep/Lamb' 'Beef,Pork,Chicken,Turkey'
 'Sheep/Lamb' 'Beef,Pork,Sheep/Lamb' 'Beef,Sheep/Lamb' 'Pork,Sheep/Lamb'
 'Beef,Pork' 'Chicken,Turkey' 'Beef,Pork,Sheep/Lamb,Chicken,Turkey'
 'Pork,Turkey' 'Beef,Pork,Sheep/Lamb,Chicken'
 'Sheep/Lamb,Pork,Chicken,Turkey' 'Beef,Sheep/Lamb,Chicken,Turkey'
 'Sheep/Lamb,Pork']

## Distribution of Size

In [11]:
print(df['Size'].unique())

['Large' 'Small' 'Very Small']

## Distribution of Plant Type and Size

In [24]:
df.groupby(['Size', 'Animals Processed']).count()['EstNumber']

Size        Animals Processed
Large       Beef                                    40
            Beef,Chicken,Turkey                      1
            Chicken                                137
            Pork                                    31
            Turkey                                  21
Small       Beef                                    52
            Beef,Pork                               13
            Beef,Pork,Chicken,Turkey                 2
            Beef,Pork,Chicken,Turkey,Sheep/Lamb      1
            Beef,Pork,Sheep/Lamb                    72
            Beef,Sheep/Lamb                         16
            Chicken                                 37
            Pork                                    53
            Pork,Sheep/Lamb                          3
            Sheep/Lamb                               7
            Turkey                                  12
            Turkey,Chicken                          21
Very Small  Beef                                    49
            Beef,Pork                               79
            Beef,Pork,Chicken,Turkey                 1
            Beef,Pork,Chicken,Turkey,Sheep/Lamb     10
            Beef,Pork,Sheep/Lamb                   348
            Beef,Pork,Sheep/Lamb,Chicken             2
            Beef,Pork,Sheep/Lamb,Chicken,Turkey      5
            Beef,Sheep/Lamb                         50
            Beef,Sheep/Lamb,Chicken,Turkey           1
            Chicken                                 10
            Chicken,Turkey                          29
            Pork                                    23
            Pork,Turkey                              1
            Sheep/Lamb                              10
            Sheep/Lamb,Pork                          5
            Sheep/Lamb,Pork,Chicken,Turkey           1
            Turkey                                   6
Name: EstNumber, dtype: int64

## Distribution of Locations by States

In [25]:
df.groupby(['State']).count()['EstNumber'].reset_index()

   State  EstNumber
0     AK          3
1     AL         27
2     AR         30
3     AZ          5
4     CA         48
5     CO         28
6     CT          5
7     DE          6
8     FL         25
9     GA         47
10    HI         12
11    IA         26
12    ID         18
13    IL         40
14    IN         17
15    KS         28
16    KY         31
17    LA          5
18    MA          3
19    MD         23
20    ME          6
21    MI         27
22    MN         33
23    MO         53
24    MP          2
25    MS         23
26    MT          7
27    NC         46
28    ND         11
29    NE         36
30    NH          4
31    NJ         19
32    NM          7
33    NV          3
34    NY         48
35    OH         26
36    OK         13
37    OR         13
38    PA         95
39    PR          7
40    RI          2
41    SC         17
42    SD          9
43    TN         34
44    TX         62
45    UT          9
46    VA         31
47    VI          1
48    VT         12
49    WA         16
50    WI         34
51    WV          7
52    WY          9